.group-date-range {
  display: flex;
  justify-content: center;
  margin: 20px 0px;
 
}

.item-date label {
  font-weight: 500;

}

.item-date input {
  border-radius: 3px;
  padding: 5px;
  border: 1px solid #007bff;
  margin: 0px 10px;
}


.chart-line {
  justify-content: center;
  display: flex;

}